[data-list-item-id^="chat-messages__"] {
    [href^="https:\/\/vencord.app"], /* example malicious links */
    [href^="https:\/\/bitly.cx"] 
    {  
    pointer-events: none;
    user-select: none;
    color: #a10c0ca9;  

    /* discord breaks up messages that have dots in to multiple spans (why?) */
    :is(:last-child)::after { 
      content: " This link has been marked as malicious.";
      color: #ea3; 
    };
    
    :is(:first-child)::before {
      content: "⚠️ ";
      color: #fff;
    };
  }
}